h1.title {
  background-image: url(images/skrub.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 125px;
  min-height: 125px; /* Set the minimum height to match the background image height */
}